/* COLOUR REFERENCES

Green:		#79b044
Salmon:		#dd5638
Blue Gray:  #3e4249

*/

/* ==== GENERAL ==== */

a:link, a:visited {
	color: #dd5638;
}

body{
	margin-top: 50px;
	font-family: 'proxima-nova', 'Raleway', Helvetica, sans-serif;
	font-size: 16px;
	background: url('../img/tile.jpg') top left repeat;
}
/* ==== GLOBAL ==== */

h1,h2,h3,h4,h5,h6 {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-weight: bold;/* makse the typography looks good*/
}
h1 {
	font-size: 3em;
}

h1,h2 {
	margin: 0 0 40px;
}

h3 {
	margin: 20px 0;
}

h4 {
	font-size: 18px;
}

.feature-image{
	display: table;
	width: 100%;
	
}

.feature-image-default{
	background: url('../img/stuff-feature.jpg') no-repeat;
	background-size: cover;

}

.feature-image-default-alt{
	background: url('../img/hipster-stuff.jpg') no-repeat;
	background-size: cover;

}

.feature-image h1{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	color: white;
}

p.lead {
	font-weight: normal;
}

p{
	margin: 0px 0px 15px 0px;
}

button, input, .btn, a.btn {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	color: white;
}

.btn {
	font-weight: bold;
}

.btn-danger {
	background-color: #dd5638;
	border-color: #d95131;
}

img {
	max-width: 100%;
}

.modal-content{
	background: url('../img/tile.jpg') top left repeat;
}

a:hover {
	text-decoration: none;
	color: #c9302c;
}

/* ==== HERO ==== */

#hero {
	
	background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
	min-height: 500px;
	position: relative;
	display: table;
	width: 100%;
	padding: 40px 0;
	color: white;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

#hero h1{
	font-family: 
             "Microsoft YaHei", "微软雅黑", 
             STXihei, "华文细黑", 
             serif !important; 
}
#hero article { 
  width: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

#hero .hero-text {
	margin-top: 30px;
}

/*=========LAYOUT===========*/
 
 .row+.row{
	 margin-top: 20px;
	 
 }
 
 
 #msgtoadmin {
	 background: #3e4249;
	 padding: 20px 0;
	 color: white;
	 -webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	font-size: 1.2em;
 }
 
 #msgtoadmin p{
	 margin: 7px 0 0 0;
	 
 }
 
 #myModal textarea{
	 
	 width: 25em; 
	 height: 16em;
 }
 
 .section-header {
    text-align: center;
}
 
 section {
	padding: 80px 0;
}

section h2 {
    margin: 20px 0 40px;
}
 
section h3 {
    margin: 30px 0 10px;
}

#primary{
	padding-top: 40px;
	padding-bottom: 40px;
	
}
 
 
#our-advantage{
	background:white; 
}

#quick-link{
	background: #3e4249;
	text-align: center;
	color: white;
}

footer{
	background: #3e4249;
	color: white;
	padding: 20px 0 10px;
	font-size: 12px;
	
}

footer p{
	margin: 0;
}


footer a:link, footer a:visited{
	color: white;
}

footer a:hover{
	color: #dd5638;
}

.post-detail i.fa{
	padding-left: 10px;
	
}

.post-detail i.fa:first-child{
	padding: 0;
}

/*--------blog------------*/

.post, .widget, #comments {
	position: relative;
	border: solid 1px #ddd;
	background: white;
	margin: 0 0 40px;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.post header,
.post .post-excerpt,
.post .post-body,
#comments . comments-wrap{
	padding: 20px;
	
}

.post header h3,
.post header h1{
	margin: 0px 0px 15px 0px;
	padding: 0px 0px 15px 0px;
	border-bottom: solid 1px #ddd;
}

.post header h1{
	
	font-size: 24px;
}


.post-image{
	height: auto;
}

.post-details{
	font-size: 12px;
	width: 90%;
	
}


/*--------widgets------------*/


.widget{
	padding: 20px;
	
}

.widget h4{
	margin: 0 0 10px;
	padding: 0 0 10px;
	border-bottom: solid 1px #ddd;
		
}


.widget ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget ul li{
	margin: 0 0 5px;
	
}

.widget ul li:hover{
	position: relative;
	left: 1px;
}

/*--------comment------------*/

.post-comments-badge{
	height: 70px;
	width: 70px;
	position: absolute;
	top: 25px;
	right: 20px;
	border: none;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	
	background: #79b044;
	text-align: center;
	display: table;
	
}

.post-comments-badge a{
	display: table-cell;
	vertical-align: middle;
	color: white;
	font-size: 20px;
	line-height: 20px;
}

.post-comments-badge i.fa{
	display: block;
	font-size: 15px;
	padding: 0;
	margin-bottom: 4px;
}

.post-comments-badge:hover{
	background-color: #8bc653;
}


#comments h3{
	text-align: center;
	
}


#comments h4{
	font-size: 1.3em;
}

#comments ol{
	list-style: none;
	padding: 0;
	margin: 0;
	
}

#comments ol li{
	background: rgba(0,0,0,0.02);
	padding: 10px 20px;
	margin: 10px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px rgba(0,0,0,0.03);
}


comments ol li  ol.children{
	padding: 0;
	list-style: none;
	font-size: 0.96em;
}


#leave-comment{
	margin: 40px 0 0;
	 padding: 20px 0 0;
	 border-top: solid 1px #eee;
}

/*===custom icon sprites	===*/

i.ci {
	display: inline-block;
	height: 40px;
	width: 40px;
	background: url('../img/icon-sprite.png') no-repeat;
}

.ci.ci-computer 	{ background-position: 0 0; }
.ci.ci-watch		{ background-position: -40px 0; }
.ci.ci-calendar		{ background-position: -80px 0; }
.ci.ci-community	{ background-position: -120px 0; }
.ci.ci-instructor	{ background-position: -160px 0; }
.ci.ci-device		{ background-position: -200px 0; }


/*--------forms------------*/

label{
	display: block;
	font-weight: bold;
}


input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea{
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	display: block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
	padding: 6px 12px;
	
}


/*media queries*/

@media screen and (max-width: 768px){
	.logo{
		width: 50%;
	}
	
	#optin p{
		margin: 0 0 10px;
	}
	
}